body {
  font-family: Sans-Serif;
  max-width: 80em;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(242, 242, 242);
}

h2 {
  font-size: x-large;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h3 {
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: normal;
}
h3 > a:link {
  text-decoration: none;
}
h3 > a:visited {
  text-decoration: none;
}
h3 > a:hover {
  text-decoration: underline;
}
h3 > a:active {
  text-decoration: underline;
}

h4 {
  font-size: large;
  font-style: italic;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: var(--lightTextColor);
}

a {
  color: var(--linkColor);
}

/* react-modal */
.ReactModal__Body--open {
  overflow: hidden;
}

/* Medium and large screens */
@media only screen and (min-width: 768px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 150%;
  }
  h1 {
    font-size: xx-large;
  }

}
